@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>@Html.ActionLink("Person", "Index", "Person")</li>
    <li>@Html.ActionLink("Guardian", "Index", "Guardian")</li>
    <li>@Html.ActionLink("Turtle", "Index", "Turtle")</li>
</ul>



